main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
  color: red;
}

h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.interval-container {
  display: flex;
  margin: 0 40px;
  align-items: center;
}

.interval-length-container {
  display: flex;
}

button {
  padding: 5px 10px;
  margin: 0 10px;
  height: 25px;
  background-color: lightpink;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  color: red;
  width: 70px;
}
button:disabled {
  cursor: not-allowed;
}

.interval-length {
  font-size: 2rem;
  margin: 0;
}

.timer-container {
  border: 2px solid red;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.timer {
  font-size: 2.5rem;
}
.timer-actions {
  margin-top: 20px;
  text-align: center;
}
